#home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#headshot-link-container{
    display: flex;
    align-items: center;
}

.headshot-image{
    border-radius: 8px;
    margin: 20px;
    width: 280px;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.headshot-image:hover{
    filter: grayscale(0%);
}

#definition-text-box{
    font-size: 22px;
    text-align: center;
}

#home-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.home-link{
    box-shadow: var(--box-shadow-button);
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 10px;
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
    background: var(--color-white);
}

.home-link:hover{
    opacity: 1;
}

.home-link svg{
    width: 25px;
    margin-right: 15px;
}

#scroll-arrow{
    font-size: 18px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#scroll-arrow svg{
    width: 24px;
    animation: arrow-jump 2.5s infinite;
}

#scroll-arrow:hover{ 
    text-decoration: underline;
}

@media only screen and (max-width: 700px){
    #headshot-link-container{
        flex-direction: column;
    }
    
    #home-links{
        align-items: center;
    }
    
    .home-link {
        justify-content: center;
        width: 250px;        
    }

    .headshot-image{
        width: 50vw;
        padding-bottom: 50px;
    }

    #definition-text-box{
        display: none;
    }
}
